body {
    /*background: rgba(0, 0, 0, 0.5);*/
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    /*color: white;*/
    font-family: "Segoe UI Light";
    /*background: url("../images/BK1.svg") no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}

#clock{
    background-color: yellow;
    width: 26%;
    position: fixed;
    height: 22.5%;
    top: 1%;
    left: 37%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border:1px solid black;
    cursor: pointer;
}

#matchCount{
    height: 30%;
    /*background-color: darkgreen;*/
}

#time{
    height: 70%;
}

#redPanel{
    width: 50%;
    height: 100%;
    /*background-color: #e74c3c;*/
    float: left;
}

#bluePanel{
    width: 50%;
    height: 100%;
    /*background-color: #3498db;*/
    float: right;
}

.infoMatch{
    /*background-color: burlywood;*/
    height: 15%;
    padding: 1%;
    margin-bottom: -1%;
}

#WeightSex{
    width: 50px;
    height: 100%;
    /*background-color: burlywood;*/
    float: left;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border:1px solid black;
}

#weight{
    height: 50%;
    /*background-color: aqua;*/
}

#sex{
    height: 50%;
    /*background-color: darkgreen;*/
}

#typeMatch{
    margin-left: 1%;
    width: 50px;
    height: 100%;
    /*background-color: grey;*/
    float: left;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border:1px solid black;
}

.infoFighter{
    /*background-color: cadetblue;*/
    height: 15%;
    width: 70%;
}

.bigInfo{
    /*background-color: darkgreen;*/
    height: 60%;
    font-weight: 700;
}

#biginfoRed{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border-bottom:2px solid red;
    position: relative;
    color: red;
}

#biginfoBlue{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border-bottom:2px solid blue;
    position: relative;
    color: blue;
}

.smallInfo{
    /*background-color: dodgerblue;*/
    height: 40%;

}

#biginfoRedText{
    margin-left: 3%;
    position: absolute;
    bottom: 0;
    left: 0;
}

#biginfoBlueText{
    margin-right: 3%;
    position: absolute;
    bottom: 0;
    right: 0;
}

#smallInfoRed{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border-top:2px solid red;
    position: relative;
    color: red;
}

#smallInfoBlue{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border-top:2px solid blue;
    position: relative;
    color: blue;
}

#smallInfoRedText{
    margin-left: 3%;
    position: absolute;
    top: 0;
    left: 0;
}

#smallInfoBlueText{
    margin-right: 3%;
    position: absolute;
    top: 0;
    right: 0;
}

.score{
    /*background-color: darkolivegreen;*/
    height: 63%;
    font-family: sans-serif;
}

.button{
    width: 90%;
    height: 7%;
}

.button.red{
    /*background-color: dimgrey;*/
    color: red;
}

.btn{
    /*background-color: brown;*/
    width: 20%;
    height: 100%;
    float: left;
    cursor: pointer;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
}

.btn.Red:hover{
    color: white;
    background-color: red;
}

.btn.Blue:hover{
    color: white;
    background-color: blue;
}

.infoFighter.blue{
    margin-left: 30%;
}

.button.blue{
    color: blue;
    float: right;
}

#numberMatch{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;
    height: 100%;
    float: right;
}

.scoreText{
    width: 90%;
    /*background-color: burlywood;*/
    font-size: 50px;
    color: white;
    height: 100%;
    cursor: pointer;
    font-weight: 700;
}

.scoreText.Red{
background-color: red;
    float: left;
}

.scoreBox{
    /*background-color: cyan;*/
    float: left;
    width: 10%;
    height: 100%;
    position: relative;
}

.scoreBox.Red{

}

.HBox{
    height: 50%;
}

.HBoxTextH{
    height: 50%;
    /*background-color: coral;*/
}

.HBoxTextH.Red{

}

.HBoxTextScore{
    height: 10%;
    width: 90%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid;
    position: absolute;
    margin: 5%;
}

.HBoxTextScore.H1{
    top: 35%;
}

.HBoxTextScore.H2{
    bottom: 35%;
}

.scoreText.Blue{
    float: right;
    background-color: blue;
}

.scoreBox.Blue{

}

.HBoxTextScore.Blue{
    margin-left: 5%;
}

.HBoxTextScore.Red{
    color: red;
    border-color: red;
}

.HBoxTextScore.Blue{
    color: Blue;
    border-color: blue;
}